body
    padding: 70px 0
    background-color: #444444
    color: #DDD

nav
    font-size: 18px

#logout
    color: #9D9D9D

#logout:hover
    color: #FFFFFF
    text-decoration: none

.img
    h2
        color: #000
    padding: 10px
    border: solid 1px black
    background-color: #FFF
    width: 350px
    margin-top: 2px
    img
        width: 330px

.btn-danger
    margin-top: 10px

footer
    padding: 5px 0px
    a, p
        color: #7D7D7D
    a:hover
        color: #FFFFFF
