extends layout.pug

block content
    form(method="POST" type="application/x-www-form-urlencoded")
        .form-group
            label(for="url") Image URL:
            input.form-control#url(type="url" name="url" required="true" placeholder="https://www.img.com")
        .form-group
            label(for="title") Title:
            input.form-control#title(type="text" placeholder="Title" name="title" required="true")
        button.btn.btn-primary(type="submit") Create
